<section class="tab-section section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="profile-div">
              <h1 class="main-h1">Child Custody Case</h1>
              <div class="profile-div-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="progress-div-wrap">
                <div class="level-div">
                  <div class="level-div-wrap">
                    <div class="level-item">
                      <p>Information Request</p>
                    </div>
                    <div class="level-item">
                      <p>Review</p>
                    </div>
                    <div class="level-item">
                      <p>Submission</p>
                    </div>
                    <div class="level-item">
                      <p>Completion</p>
                    </div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" style="width:30%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="section-box">
              <div class="reminder-div s-remainer">
                <div class="remainder-item">
                  <img src="/assets/images/u434.png">
                  <div class="remainder-detail">
                    <h2>Brooke, Case Manager <span> posted a message</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis. Lorem ipsum dolor sit amet.</p>
                    <a href="#" class="read-more-a time">15 mins ago</a>
                  </div>
                </div>
              </div>
              <div class="reminder-div remainder-sub-div">
                <div class="remainder-item">
                  <img src="https://www.wrike.com/blog/content/uploads/2017/05/rawpixel-633847-unsplash.jpg">
                  <div class="remainder-detail">
                    <h2>Document: Title Goes Here</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <a href="#" class="read-more-a time">15 mins ago</a>
                  </div>
                </div>
                <div class="remainder-item">
                  <img src="https://www.wrike.com/blog/content/uploads/2017/05/rawpixel-633847-unsplash.jpg">
                  <div class="remainder-detail">
                    <h2>Calendar: Filing date is MM/DD/YYYY</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <a href="#" class="read-more-a time">15 mins ago</a>
                  </div>
                </div>
              </div>
              <div class="section-header">
                <h2 class="main-heading">Case Files</h2>
                <div class="share-div">
                  <p>Shared with:</p>
                  <div class="social-icon">
                    <a href="#" class="facebook"><i class='bx bxl-facebook' ></i></a>
                    <a href="#" class="twitter"><i class='bx bxl-twitter' ></i></a>
                  </div>
                </div>
              </div>
              <div class="section-body">
                <div class="reminder-div">
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>Form Name <div class="label-type success">COMPLETED</div></h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis. Lorem ipsum dolor sit amet.</p>
                      <a href="#" class="read-more-a time">15 mins ago</a>
                    </div>
                  </div>
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>Form that has to be filled out and filed.
                        <div class="label-type incomplete">IN COMPLETE</div>
                      </h2>
                      <p>Fill out this 2 page form and file it by mailing this file by July 30, 2020.</p>
                      <a href="#" class="read-more-a time">15 mins ago</a>
                    </div>
                  </div>
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>CIR
                        <div class="label-type incomplete">IN COMPLETE</div>
                      </h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      <a href="#" class="read-more-a time">15 mins ago</a>
                    </div>
                  </div>
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>Birth Cert etc and general docs.
                        <div class="label-type missing">MISSING</div>
                      </h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      <a href="#" class="read-more-a time">15 mins ago</a>
                    </div>
                  </div>
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>Court File Addendum Document  <div class="label-type success">COMPLETED</div></h2>
                      <p>Fill out this 2 page form and file it by mailing this file by July 30, 2020.</p>
                      <a href="#" class="read-more-a time">15 mins ago</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sidebar">
          <div class="section-header">
            <h2 class="main-heading">This case is shared with:</h2>
            <div class="share-div">
              <a href="#" class="add-member">Edit</a>
            </div>
          </div>
          <div class="fam-div">
            <div class="fam-item">
              <img src="/assets/images/spouse-icon-19.jpg">
              <div class="stat">
                <h2>Jane Webb</h2>
                <p>Spouse</p>
              </div>
            </div>
            <div class="fam-item">
              <img src="/assets/images/father.png">
              <div class="stat">
                <h2>Bill Webb</h2>
                <p>Father</p>
              </div>
            </div>
          </div>
          <div class="section-header">
            <h2 class="main-heading">Upcoming Dates</h2>
            <div class="share-div">
              <a href="#" class="add-member">View Calendar</a>
            </div>
          </div>
          <div class="calander-div">
            <div class="calender-item">
              <div class="cal-date">
                <p>Nov</p>
                <p>11</p>
              </div>
              <p>Calendar: Filing date is MM/DD/YYYY</p>
            </div>
            <div class="calender-item">
              <div class="cal-date">
                <p>Nov</p>
                <p>11</p>
              </div>
              <p>Calendar: Filing date is MM/DD/YYYY</p>
            </div>
            <div class="calender-item">
              <div class="cal-date">
                <p>Nov</p>
                <p>11</p>
              </div>
              <p>Calendar: Filing date is MM/DD/YYYY</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
