<section class="section step-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
 
     <div class="container">
    <div id="accordion" class="accordion">
        <div class="card mb-0">
            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                <a class="card-title">
                    Do you provide legal advice?
                </a>
            </div>
            <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                <p>We are not attorney's and can't give you legal advice or instruction.
                </p>
            </div>
            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <a class="card-title">
                  Are you an Attorney? Is Law for All a law firm?
                </a>
            </div>
            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
                <p> Law for All is not a "Lawyer Referral Service." We offer  document services prepared by legal professionals, self-help resources and through our legal network, we offer access access to discounted independent legal professionals at your 
      discretion.
                </p>
            </div>
           
           
        </div>
    </div>
</div>   
		<!-- <button class="accordion1"  data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Do you provide legal advice?<i class="pull-right fa fa-plus"></i></button>
    <div class="collapse" id="collapseExample">
    <div class="card card-body">
      We a re not attorney's and can't give you legal advice or instruction.
    </div>
  </div> -->
	<!-- <button class="accordion1" data-toggle="collapse" data-target="#collapseExamplee" aria-expanded="false" aria-controls="collapseExamplee">Are you an Attorney is Law for All a law firm?<i class="pull-right fa fa-plus"></i></button>
    <div class="collapse" id="collapseExamplee">
    <div class="card card-body">
      Law for All is not a "Lawyer Referral Service." We offer 
      document services prepa red by legal professionals, self-help resources and th rough our legal network, we offer access access to discounted independent legal professionals at your 
      discretion.
    </div>
  </div> -->
	
		
        

      </div>
     <!--  <div class="col-md-4">
        <div class="sidebar">
          <h2 class="main-heading">Find Attorneys </h2>
        </div>
        <label>What Do you need</label>
        <input type="text" name="search" class="step-input" placeholder="Family Law">
        <label>Search by Location</label>
        <input type="text" name="search" class="step-input" placeholder="93106">
        <button type="button" class="btn">Search Now</button>
      </div> -->
    </div>

   
  </div>
</section>
