<section class="tab-section section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="profile-div">
              <h1 class="main-h1">Welcome Henry</h1>
              <div class="profile-div-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="section-box">
              <div class="section-header">
                <h2 class="main-heading">My Cases</h2>
                <div class="share-div">
                  <p>Shared with:</p>
                  <div class="social-icon">
                    <a href="#" class="facebook"><i class='bx bxl-facebook' ></i></a>
                    <a href="#" class="twitter"><i class='bx bxl-twitter' ></i></a>
                  </div>
                </div>
              </div>
              <div class="section-body">
                <div class="progress-div-wrap">
                  <h2 class="content-h"><img src="/assets/images/child-cus.jpg" class="content-h-img"> Child custody Case</h2>

                  <div class="level-div">
                    <div class="level-div-wrap">
                      <div class="level-item">
                        <p>Information Request</p>
                      </div>
                      <div class="level-item">
                        <p>Review</p>
                      </div>
                      <div class="level-item">
                        <p>Submission</p>
                      </div>
                      <div class="level-item">
                        <p>Completion</p>
                      </div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" style="width:30%"></div>
                    </div>
                  </div>
                </div>
                <div class="reminder-div">
                  <h2>Reminders</h2>
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>Brooke, Case Manager <span>posted a message</span></h2>
                      <p>Hi Henry! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                      <a href="#" class="read-more-a">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-header mt-5">
                <h2 class="main-heading">My Legal Health Score</h2>
              </div>
              <p class="header-subheading">Get your score and action plan.</p>

              <div class="suggestion-section">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="suggestion-card">
                        <img src="assets/images/fm.png">
                        <h3>Suggestions:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <a href="#">Improve my score</a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="suggestion-card">
                        <img src="assets/images/li.png">
                        <h3>Suggestions:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <a href="#">Improve my score</a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="suggestion-card">
                        <img src="assets/images/fi.png">
                        <h3>Suggestions:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <a href="#">Improve my score</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="section-header mt-5">
                <h2 class="main-heading">My Legal Health Kits</h2>
              </div>
              <p class="header-subheading">Get your legal health score with our self assessment quizes. How sound is your life and are you protected?</p>
              <div class="img-grid-div">
                <div class="img-grid-item">
                  <p>Things Everyone Needs to Do Before They Die</p>
                </div>
                <div class="img-grid-item">
                  <p>Getting Married? How Prepared Are you?</p>
                </div>
                <div class="img-grid-item">
                  <p>Are you saving enough for your kidsc college savings?</p>
                </div>
                <div class="img-grid-item">
                  <p>Tax and Debt Forgiveness Programs. See How Deep It Goes.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sidebar">
          <div class="reminder-div">
            <div class="remainder-item">
              <img src="/assets/images/u434.png">
              <div class="remainder-detail">
                <h2>Want to speak with us ?</h2>
                <p>Call us now at 888.547.5306</p>
              </div>
            </div>
          </div>
          <div class="section-header mt-5">
            <h2 class="main-heading">Ask a Question</h2>
          </div>
          <div class="input-warp-side">
            <input type="text" placeholder="What is your legal issue?">
            <button type="button" class="input-btn-side btn">Ask</button>
          </div>
          <div class="section-header">
            <h2 class="main-heading">My Family</h2>
            <div class="share-div">
              <a href="#" class="add-member">Add a Member</a>
            </div>
          </div>
          <p class="fam-p">Add a family member to easily lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          <div class="fam-div">
            <div class="fam-item">
              <img src="/assets/images/spouse-icon-19.jpg">
              <div class="stat">
                <h2>Jane Webb</h2>
                <p>Spouse</p>
              </div>
            </div>
            <div class="fam-item">
              <img src="/assets/images/father.png">
              <div class="stat">
                <h2>Bill Webb</h2>
                <p>Father</p>
              </div>
            </div>
          </div>
          <div class="section-header">
            <h2 class="main-heading">Upcoming Dates</h2>
            <div class="share-div">
              <a href="#" class="add-member">View Calendar</a>
            </div>
          </div>
          <div class="calander-div">
            <div class="calender-item">
              <div class="cal-date">
                <p>Nov</p>
                <p>11</p>
              </div>
              <p>Calendar: Filing date is MM/DD/YYYY</p>
            </div>
            <div class="calender-item">
              <div class="cal-date">
                <p>Nov</p>
                <p>11</p>
              </div>
              <p>Calendar: Filing date is MM/DD/YYYY</p>
            </div>
            <div class="calender-item">
              <div class="cal-date">
                <p>Nov</p>
                <p>11</p>
              </div>
              <p>Calendar: Filing date is MM/DD/YYYY</p>
            </div>
          </div>
          <div class="section-header">
            <h2 class="main-heading">My Legal Vault</h2>
            <div class="share-div">
              <a href="#" class="add-member">View</a>
            </div>
          </div>
          <div class="vault-div">
            <div class="vault-item">
              <img src="/assets/images/mo.jpg">
              <div class="legal-detail">
                <h3>Court File Addendum Document</h3>
                <p class="time">15 mins ago</p>
                <p class="des">Fill out this 2 page form and file it by mailing this file by July 30, 2020.</p>
              </div>
            </div>
            <div class="vault-item">
              <img src="/assets/images/mo.jpg">
              <div class="legal-detail">
                <h3>Case files folder name here</h3>
                <p class="time">15 mins ago</p>
              </div>
            </div>
          </div>
          <div class="vault-btn-div">
            <button type="button" class="btn">Share</button>
            <button type="button" class="btn">Upload</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
