<section class="tab-section section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="profile-div">
              <h1 class="main-h1">Legal Vault</h1>
              <div class="profile-div-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="section-box">
              <div class="section-header">
                <h2 class="main-heading">Cases:</h2>
                <div class="share-div">
                  <p>Shared with:</p>
                  <div class="social-icon">
                    <a href="#" class="facebook"><i class='bx bxl-facebook' ></i></a>
                    <a href="#" class="twitter"><i class='bx bxl-twitter' ></i></a>
                  </div>
                </div>
              </div>
              <div class="section-body">
                <div class="reminder-div">
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>Child custody Case</h2>
                      <p>Here are the notes from our call. You can review my summary and all the options we reviewed on the call. There are links to learn more and proceed if you wish to learn more.</p>
                      <a href="#" class="read-more-a time">15 mins ago</a>
                    </div>
                  </div>
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>Form that has to be filled out and filed.</h2>
                      <p>Fill out this 2 page form and file it by mailing this file by July 30, 2020.

                      </p>
                      <a href="#" class="read-more-a time">15 mins ago</a>
                    </div>
                  </div>
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>CIR</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

                      </p>
                      <a href="#" class="read-more-a time">15 mins ago</a>
                    </div>
                  </div>
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>Birth Cert etc and general docs.

                      </h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

                      </p>
                      <a href="#" class="read-more-a time">15 mins ago</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-header">
                <h2 class="main-heading">Drafts</h2>

              </div>
              <div class="section-body">
                <div class="reminder-div">
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>Court File Addendum Document</h2>
                      <p>Fill out this 2 page form and file it by mailing this file by July 30, 2020.

                      </p>
                      <div class="share-div">
                        <p>Shared with:</p>
                        <div class="social-icon">
                          <a href="#" class="facebook"><i class='bx bxl-facebook' ></i></a>
                          <a href="#" class="twitter"><i class='bx bxl-twitter' ></i></a>
                        </div>
                      </div>
                      <a href="#" class="read-more-a time">15 mins ago</a>
                    </div>
                  </div>

                </div>
              </div>

              <div class="section-header">
                <h2 class="main-heading">Recent Files</h2>

              </div>
              <div class="section-body">
                <div class="reminder-div">
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>Kickoff Call - November 10, 2020

                      </h2>
                      <p>Here are the notes from our call. You can review my summary and all the options we reviewed on the call. There are links to learn more and proceed if you wish to learn more.

                      </p>
                      <div class="share-div">
                        <p>Shared with:</p>
                        <div class="social-icon">
                          <a href="#" class="facebook"><i class='bx bxl-facebook' ></i></a>
                          <a href="#" class="twitter"><i class='bx bxl-twitter' ></i></a>
                        </div>
                      </div>
                      <a href="#" class="read-more-a time">15 mins ago</a>
                    </div>
                  </div>
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>Court File Addendum Document</h2>
                      <p>Fill out this 2 page form and file it by mailing this file by July 30, 2020.</p>

                      <a href="#" class="read-more-a time">15 mins ago</a>
                    </div>
                  </div>
                  <div class="remainder-item">
                    <img src="/assets/images/u434.png">
                    <div class="remainder-detail">
                      <h2>Case files folder name here</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      <div class="share-div">
                        <p>Shared with:</p>
                        <div class="social-icon">
                          <a href="#" class="facebook"><i class='bx bxl-facebook' ></i></a>
                          <a href="#" class="twitter"><i class='bx bxl-twitter' ></i></a>
                        </div>
                      </div>
                      <a href="#" class="read-more-a time">15 mins ago</a>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn">Update</button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sidebar">
          <div class="storage-div">
            <p>Storage (53% full)</p>
            <p class="space-s">13.3 gb of 20 gb used</p>
            <a href="#">Upgrade</a>
            <div class="space-progress">
              <div class="space-progress-div"></div>
            </div>
          </div>
          <div class="section-header">
            <h2 class="main-heading">Legal Basics Checklist:</h2>
          </div>
          <p class="fam-p">We recommend you backup your most important legal documents in our secure vault that lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod.</p>
          <div class="driver-div">
            <div class="driver-item">
              <img src="/assets/images/d.png" class="driver-img">
              <p>Drivers license</p>
              <img src="/assets/images/c.png" class="check-img">
            </div>
            <div class="driver-item">
              <img src="/assets/images/d.png" class="driver-img">
              <p>Marriage license</p>
              <img src="/assets/images/c.png" class="check-img">
            </div>
            <div class="driver-item">
              <img src="/assets/images/d.png" class="driver-img">
              <p>Social Security Cards</p>

            </div>
            <div class="driver-item">
              <img src="/assets/images/d.png" class="driver-img">
              <p>Birth Certificates</p>
              <img src="/assets/images/c.png" class="check-img">
            </div>
            <div class="driver-item">
              <img src="/assets/images/d.png" class="driver-img">
              <p>Will</p>

            </div>
            <div class="driver-item">
              <img src="/assets/images/d.png" class="driver-img">
              <p>Life Insurance</p>

            </div>
          </div>
          <div class="side-msg">
            <p>Upsell Module:<br>Unlimited Secure File Storage</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
