<section class="section">
  <div class="row mx-0">
    <div class="col-md-6 align-self-center">

    </div>
    <div class="col-md-6 align-self-right">
      <ol class="breadcrumb top_nav_breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">{{ this?.navitemvalue}}</li>
        <li class="breadcrumb-item">Self-Help Guide</li>
        <li class="breadcrumb-item">{{ singleguides?.data?.name }}</li>

      </ol>
    </div>
  </div>
  <div class="container-fluid c-fluid">
    <div class="row">
       <div [hidden]= "!self_sidebar" class="col-sm-3 col-md-3 col-lg-3 nav-horizontal-mobile">
         <app-quickstartquide></app-quickstartquide>
           <!--  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          
            <div _ngcontent-gpv-c79="" class="nav nav-bar">
              <div class="side-logo">
                <h4 class="main-heading">Quick Start Guide</h4>
              </div>
              
                <li _ngcontent-gpv-c79="" *ngFor="let q of qsg.data" class="nav-item removenumber qsglist">
                  <a _ngcontent-gpv-c79="" [routerLink]="q.link" href="#" class="nav-link" routerLinkActive="active"
                    id="qsg_{{ q.id}}">
                    <input type="checkbox" [checked]="q.page_status">&nbsp; {{ q.name }}
                  </a>
                </li>
                <li class="nav-item removenumber qsglistsummary">
                  <a href="#" [routerLink]="['/summary-profile']" class="nav-link">
                    Summary Quick Start Guide
                  </a>
                </li>
        
            </div>

            </div> -->
          </div>
         <div [hidden]= "self_sidebar" class="mb-3 col-md-3 col-lg-3 nav-horizontal-mobile">
          
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          
            <div _ngcontent-gpv-c79="" class="nav nav-bar">
              <div class="side-logo">
                <h4 class="main-heading">Self Help Guides</h4>
              </div>
              <li _ngcontent-gpv-c79="" *ngFor="let p of guides.result; let i=index;" class="nav-item removenumber qsglist" (click)="getguidebyurl(p.url,p.id)" [ngClass]="{'self_read':p.status === 'completed'}">
                  <a _ngcontent-gpv-c79=""  [routerLink]="['/guide/',p.url]"  href="#" class="nav-link" routerLinkActive="active">
                   {{p?.name}}
                  </a>
                </li>
        
            </div>

            </div>
         
          </div>
        <div class="col-lg-6 col-md-6 col-sm-12" id="myDiv">
        <p class="main-sub-para">FAMILY LAW</p>
        <h1 class="main-heading">Guide: {{ singleguides?.data?.name }}</h1>
        <div class="guide-des">
          <p>Things You Need to Know</p>
          <div class="" [innerHtml]="singleguides?.data?.file_view ">
          </div>

          <div [hidden]="notes_cal_section" class="buttons-grp">
           <!--  <button class="btn mb-3" data-toggle="modal"
                        data-target="#upgrademembership">Upgrade your membership to Personal+ to unlock this feature!</button> -->
            <a class="" href="#" [routerLink]="['/review-legal-resources']"><button class="btn">
                Continue to Next Step</button></a>
          </div>

        </div>
        <br>
        <br>

        <div class="guide-div">
          <h3 class="h-heading">Explore our Self-Help Guides for <span>Family Law</span></h3>
          <div class="help-family-law">
            <div *ngFor="let p of guides.result; let i=index;" class="wrapper">
              <div class="image">
                <span class="court">FAMILY COURT</span>
                <img src="{{p?.image}}">
              </div>
              <div class="content">
                <span class="popular">POPULAR</span>
                <h5>Guide: <span>{{p?.name}}</span></h5>
                <p>{{p?.description.slice(0, 190)}}...

                </p>
                <div class="start-btn">
                  <a href="#" class="" [routerLink]="['/guide/',p.url]"><button class="btn" (click)="getguidebyurl(p.url,p.id)" [ngClass]="{'self_read':p.status === 'completed'}" type="button"><input type="checkbox"  [checked]="p.status"> {{p.button_value}}</button></a>
                  <span>1 Guide<br>
                    <span class="mins">7 mins</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
          <div class="col-lg-3 col-md-3" [hidden]="!notes_cal_section">
            <div class="second-sidebar">
              <div class="heading-close">
                <i class="fa fa-close"></i>
              </div>
              <ejs-calendar id=calendar > </ejs-calendar >
              <!-- <div class="calendar calendar-first" id="calendar_first">
                <div class="calendar_header">
                    <button class="switch-month switch-left"> <i class="fa fa-chevron-left"></i></button>
                    <h2></h2>
                    <button class="switch-month switch-right"> <i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="calendar_weekdays"></div>
                <div class="calendar_content"></div>
              </div> -->
              <hr style="border: 1px solid #D0CFCF; width:40%;">
              <div class="note-heading">
                <!-- <h4><i class="fa fa-pencil-square-o"></i>Notes</h4> -->
              </div>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <!-- <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol> -->
                <div class="carousel-inner">
                  <!-- <div class="carousel-item active">
                    <div class="carousel-caption d-md-block">
                      <div class="notes">
                        <div class="new-content">
                          <div class="text-right mb-20">
                            <a href="javascript:void()">Done</a>
                          </div>
                          <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliq. Ut enim ad minim veniam quis.</p>
                            <div class="number">9876456321</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <<!-- div class="carousel-item">
                    <div class="carousel-caption d-md-block">
                      <div class="notes">
                        <div class="new-content">
                          <div class="text-right mb-20">
                            <a href="javascript:void()">Done</a>
                          </div>
                          <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliq. Ut enim ad minim veniam quis. </p>
                            <div class="number">9876456321</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="carousel-item">
                    <div class="carousel-caption d-md-block">
                      <div class="notes">
                        <div class="new-content">
                          <div class="text-right mb-20">
                            <a href="javascript:void()">Done</a>
                          </div>
                          <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliq. Ut enim ad minim veniam quis.</p>
                            <div class="number">9876456321</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</section>