<section class="form-section section">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="logo-wrapper">
                        <img src="assets/images/change-password.png">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <form [formGroup]="PasswordForm" (submit)="changepass()" autocomplete="off">
                        <div class="change-pass">
                            <h3>Change Password</h3>
                            <p>
                                Make sure you remember your password.
                            </p>
                            <p class="error_pass">
                                Password must contain at least 8 characters, including a letter and a number.
                            </p>
                            <input type="hidden" name="email" formControlName="email" value="{{user}}">
                            <div class="container-text">
                                <div class="form-group">
                                    <input [type]="eye_icon=== true ? 'password' : 'text'"
                                        formControlName="new_password" name="new_password"
                                        placeholder="Your New Password" class="form-control mb-3 password_enter"
                                        autocomplete="off" required>
                                    <i (click)="togglePassword()"
                                        class="fa {{eye_icon=== true ? 'fa-eye-slash' : 'fa-eye'}}"></i>
                                </div>
                            </div>

                            <span class="text-danger hide_error_length"
                                *ngIf="(registerFormControl.new_password.touched  || basicfprofile_submitted ) && (registerFormControl.new_password.errors?.required || registerFormControl.new_password.errors?.minlength || registerFormControl.new_password.errors?.pattern)">
                                Password must contain at least 8 characters, including a letter and a number.
                            </span>
                            <div class="container-text">
                                <div class="form-group">
                                    <input [type]="eye_icon_confirm=== true ? 'password' : 'text'"
                                        formControlName="new_password_confirm" name="new_password_confirm"
                                        placeholder="Confirm Password" class="form-control mb-3" required>
                                    <i (click)="toggleConfirmPassword()"
                                        class="fa {{eye_icon_confirm=== true ? 'fa-eye-slash' : 'fa-eye'}}"></i>
                                </div>
                            </div>
                            <span class="text-danger hide_confirm_length"
                                *ngIf="(registerFormControl.new_password_confirm.touched || basicfprofile_submitted) && registerFormControl.new_password_confirm.errors?.required">
                                Confirm Password is required
                            </span>
                            <span class="text-danger hide_confirmerror_length" style="display:none;">Passwords do not
                                match!</span>


                            <button class="btn long-btn w-100">Submit</button>

                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</section>