.wrapper {
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 0px 25px 2px rgb(8 36 59 / 30%);
    border-radius: 10px;
    padding: 70px 40px;
}

button.btn {
    background: linear-gradient(to right, #4a00e0, #8E2DE2);
}

.container-text {
    margin-bottom: 20px;
    position: relative;
}

.container-text i {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 9px 8px;
    color: black;
    transition: .3s;
}

.change-pass {
    border-left: 1px solid #cccccc7d;
    height: 100%;
    padding: 10px 10px 0 50px;
}

h3 {
    font-weight: 700;
    font-size: 34px;
}

p {
    color: #333333;
}

.error_pass {
    font-size: 10px;
}

@media screen and (max-width:768px) {
    .change-pass {
        border-left: 0;
    }
}