<section class="section step-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="step-count-div">
          <div class="step-number active">
            <div class="count-div">1</div>
            <p>Submit Question</p>
          </div>
          <div class="step-number">
            <div class="count-div">2</div>
            <p>Create Account</p>
          </div>
          <div class="step-number">
            <div class="count-div">3</div>
            <p>Review Advice</p>
          </div>

        </div>
        <div class="step-content">
          <h4 class="main-heading">Submit Your Free Legal Question</h4>
          <p class="main-sub-para">Stuck with a legal issue? Submit your query below to get FREE advise within a few hours. Expert legal advice from top rated lawyers in your city is also available.</p>
          <textarea class="step-textarea" placeholder="What is your legal issue?"></textarea>
          <select class="step-select">
            <option selected="" value="Please choose a case type">Please choose a case type</option>
            <option value="Family Law">Family Law</option>
            <option value="Tax">Tax</option>
            <option value="Life Planning">Life Planning</option>
            <option value="Other">Other</option>
          </select>
          <button type="button" class="btn long-btn">Next</button>
        </div>
        <div class="step-content">
          <h4 class="main-heading-2">Contact Info</h4>
          <input type="text" class="step-input" placeholder="Your Name">
          <input type="text" class="step-input" placeholder="Your Mobile Phone Number">
          <p class="step-para">You will be notified by SMS when you receive a response</p>
          <input type="text" class="step-input" placeholder="Your Zip Code">
          <input type="text" class="step-input" placeholder="Your Email Address">
          <p class="step-para">Your query and lawyer responses will be published on our website, without your details. We do NOT publish your name or contact details. Lawyers who answer your query may contact you to discuss your query in detail.</p>
          <input type="text" class="step-input" placeholder="Create a password">
          <p class="step-para">Passwords should be at least 8 characters and include a capital letter, lowercase letter, and a number.</p>
          <label>
            <input type="checkbox">
            By submitting your question, you agree to our terms & conditions.
          </label>
          <button type="button" class="btn long-btn">Next</button>
        </div>

      </div>
      <div class="col-md-4">
        <div class="sidebar">
          <h2 class="main-heading">Lawyers near <span>Carlsbad, CA</span></h2>
          <p class="main-sub-para">Sign up and get a free 1 hour consultation, plus discounted rates within our legal network.</p>
        </div>
        <div class="lawyer-list">
          <div class="lawyer-item">
            <img src="/assets/images/147144.png">
            <div class="lawyer-detail">
              <h2>Mark Smith</h2>
              <p class="rating">Rating: 74 reviews</p>
              <div class="rating-div">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star no-star'></i>
              </div>
              <div class="practice-areas">
                <p>Practice Areas:</p>
                <p class="items-p">Family Court, Trusts, Immigration</p>
              </div>
            </div>
          </div>
          <div class="lawyer-item">
            <img src="/assets/images/147144.png">
            <div class="lawyer-detail">
              <h2>Mark Smith</h2>
              <p class="rating">Rating: 74 reviews</p>
              <div class="rating-div">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star no-star'></i>
                <i class='bx bxs-star no-star'></i>
              </div>
              <div class="practice-areas">
                <p>Practice Areas:</p>
                <p class="items-p">Family Court, Trusts, Immigration</p>
              </div>
            </div>
          </div>
          <div class="lawyer-item">
            <img src="/assets/images/147144.png">
            <div class="lawyer-detail">
              <h2>Mark Smith</h2>
              <p class="rating">Rating: 74 reviews</p>
              <div class="rating-div">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star no-star'></i>
                <i class='bx bxs-star no-star'></i>
                <i class='bx bxs-star no-star'></i>
              </div>
              <div class="practice-areas">
                <p>Practice Areas:</p>
                <p class="items-p">Family Court, Trusts, Immigration</p>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn long-btn outline-btn">Find a Lawyer</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="step-content">
          <div class="success-content">
            <div class="container">
              <div class="row">
                <div class="col-sm-8">
                  <div class="success-div">
                    <img src="/assets/images/u434.png">
                    <div class="detail-s">
                      <h2>Congrats! Your question has successfully been submitted!</h2>
                      <p>Our Enrollment Advisor will be calling you shortly for a professional follow up.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="detail-s border-s-div">
                    <h2>Want to speak with us sooner?</h2>
                    <p>Call us now at 888.547.5306</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="q-div">
            <p>Your question:</p>
            <h3>I need help with Child Custody. I tried to work it out with my ex but we are hitting a wall. I need professional help but can’t afford expensive attorneys.</h3>
          </div>
          <div class="q-div">
            <p>Recommendations to help you get started:</p>
          </div>
          <div class="guide-div">
            <div class="guide-div-heading">
              <h3>Explore our Self Help Guides for <span>Family Law</span></h3>
              <p>What is a Guide?</p>
            </div>
            <div class="help-family-law">
              <div class="wrapper">
                <div class="image">
                  <span class="court">FAMILY COURT</span>
                  <img src="https://pub.oneeyegps.com/lawforall/images/lawyer-profile.png">
                </div>
                <div class="content">
                  <span class="popular">POPULAR</span>
                  <h5>Guide: <span>Child Support</span></h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                  </p>
                  <div class="start-btn">
                    <a href="#"><button class="btn" type="button">Get Started</button></a>
                    <span>1 Guides<br>
                                    <span class="mins">20 mins</span>
                                </span>
                  </div>
                </div>
              </div>
              <div class="wrapper">
                <div class="image">
                  <span class="court">FAMILY COURT</span>
                  <img src="https://pub.oneeyegps.com/lawforall/images/lawyer-profile.png">
                </div>
                <div class="content">
                  <span class="popular">POPULAR</span>
                  <h5>Guide: <span>Child Support</span></h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                  </p>
                  <div class="start-btn">
                    <a href="#"><button class="btn" type="button">Get Started</button></a>
                    <span>1 Guides<br>
                                    <span class="mins">20 mins</span>
                                </span>
                  </div>
                </div>
              </div>
              <div class="wrapper">
                <div class="image">
                  <span class="court">FAMILY COURT</span>
                  <img src="https://pub.oneeyegps.com/lawforall/images/lawyer-profile.png">
                </div>
                <div class="content">
                  <span class="popular">POPULAR</span>
                  <h5>Guide: <span>Child Support</span></h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                  </p>
                  <div class="start-btn">
                    <a href="#"><button class="btn" type="button">Get Started</button></a>
                    <span>1 Guides<br>
                                    <span class="mins">20 mins</span>
                                </span>
                  </div>
                </div>
              </div>
              <button class="btn long-btn outline-btn w-100" type="button">Show All Family Law Guides</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
