<section class="section services-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="main-heading text-center">Services</h4>
                <p class="mb-4">
                    As you may know the legal system can be very expensive, time consuming, and if you are not familiar with the courts it can seem a little overwhelming to navigate. Law For All is a national legal access organization
                    that offers access to low cost legal solutions. We help members resolve their issues, but without the high
                    costs traditionally associated with full price attorneys. Using the nationwide network of independent attorneys and legal
                    professionals, we can help in a number of ways based on your specific needs.
                </p>
            </div>
            <div *ngFor="let service of all_services" class="col-md-4 col-lg-4 col-sm-6">
                <div class="wrapper">
                    <img src="assets/images/legal.png" class="div-img">
                    <h6 class="pack">{{service.service_rates}}</h6>
                    <h3>{{ service.name }}</h3>
                    <p style="text-align:justify;">
                        {{service?.description}} 
                  
                    </p>
                    
                   <span [ngClass]="{'hidefirst':service.name === 'Personal Membership' }"> 
                    <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/law-for-all'});return false;" > <button class="btn btn-primary mb-2 schedule-btn"> Start Legal Plan</button></a> 
                 <!--    <a href="#" [routerLink]="['/legal-plan',service.id]"  class="a-btn"><button class="btn">Start Legal Plan</button></a> -->
                 <br>
                    <a href="tel:+1-888-318-1266" class="a-link">Call Now</a></span>
                </div>

            </div>
          
        </div>
    </div>
</section>
