<section class="lawyer-profile-section section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-profile">
                <div class="wrapper">
                    <div class="profile-image">
                        <img src="assets/images/lawyer-profile.png">
                    </div>
                    <div class="profile-detail">
                        <div class="profile-name">
                            <h3 class="main-heading">Edward Murray</h3>
                            <span class="verified">VERIFIED</span>
                        </div>
                        
                        <div class="profile-rating">
                            <div class="rate">
                                <span class="review">Rating: 74 reviews</span>
                                <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                                <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                                <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                                <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            </div>
                            <div class="loc">
                                <span>Location:</span>
                                <p>Carlsbad, CA</p>
                            </div>
                            <div class="year">
                                <span>Years Licensed:</span>
                                <p>33 Years</p>
                            </div>
                        </div>
						<div class="row">
					  <p><a class="" [routerLink]="['/update-membership']"  href="#"> <button class="btn btn-primary mb-2" type="button">Update Membership</button></a>
					  &nbsp;&nbsp;<a class="" [routerLink]="['/change-password']"  href="#"> <button class="btn btn-primary mb-2" type="button">Change Password</button></a>
					 &nbsp;&nbsp;<a class="" [routerLink]="['/complete-profile']"  href="#"> <button class="btn btn-primary mb-2" type="button">Update Profile</button></a>
					  </p>
					</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wrapper-second second">
                    <div class="info">
                        <h3 class="main-heading mb-0">18</h3>
                        <span>Verified Clients</span>
                    </div>
                    <div class="info">
                        <h3 class="main-heading mb-0">32</h3>
                        <span>Questions answered</span>
                    </div>
                </div>
                <div class="wrapper-second">
                    <div class="info">
                        <h3 class="main-heading mb-0">5</h3>
                        <span>Articles</span>
                    </div>
                    <div class="info">
                        <h3 class="main-heading mb-0">2</h3>
                        <span>Videos</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="row row-about mt-5">
            <div class="col-md-8 mb-2">
                <div class="wrapper-about">
                    <h4>About Edward</h4>
                    <p>
                        Edward Robinson is a founder and co-managing member of Robinson Kardon. He focuses his practice on criminal defense, in both state and federal courts, on behalf of clients who stand accused of white collar, corporate and general criminal conduct.
                         He is a certified specialist in Criminal Law by the State Bar of California.
                    </p>
                    <p>While Edward has worked extensively at both the state and
                         federal level since starting his criminal defense practice in 1988, he has a rare and impressive portfolio of federal cases, having represented clients in hundreds of complex cases across the country, including California, Hawaii, New York, Oregon, Texas, Arizona, Washington, Nebraska, Massachusetts, Florida, Arkansas, Wisconsin, Colorado, Georgia and Nevada. He has also appeared countless times in California State Courts on matters related to both serious felony charges and all types of misdemeanors.

                    </p>
                </div>
                <div class="wrapper-review pt-4">
                    <div class="review-rate">
                        <span class="count">Reviews (74)</span>
                        <span ><i class="fa fa-star checked" aria-hidden="true"></i></span>
                        <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                        <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                        
                        
                    </div>
                    <div class="progress-wrapper">
                        <div class="progress-main mb-1">
                            <div class="title">
                              <h6 class="">5 star</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bar-5">
                                   
                                </div>
                            </div>
                            <div class="progress-item">80%

                            </div>
                        </div>
                        
                        <div class="progress-main mb-1">
                            <div class="title">
                              <h6 class="">4 star</h6>
                            </div>
                            <div class="progress ">
                                <div class="progress-bar bar-4">
                                   
                                </div>
                            </div>
                            <div class="progress-item">15%

                            </div>
                        </div>
                        
                        <div class="progress-main mb-1">
                            <div class="title">
                              <h6 class="">3 star</h6>
                            </div>
                            <div class="progress ">
                                <div class="progress-bar bar-3">
                                   
                                </div>
                            </div>
                            <div class="progress-item">5%

                            </div>
                        </div>
                        
                        <div class="progress-main mb-1">
                            <div class="title">
                              <h6 class="">2 star</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bar-2">
                                   
                                </div>
                            </div>
                            <div class="progress-item">0%

                            </div>
                        </div>
                        
                        <div class="progress-main mb-1">
                            <div class="title">
                              <h6 class="">1 star</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bar-1">
                                   
                                </div>
                            </div>
                            <div class="progress-item">0%

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="wrapper-contact">
                    <h4>Contact Info</h4>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d217408.89455436615!2d74.73003520947466!3d31.63346767705272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391964aa569e7355%3A0xeea2605bee84ef7d!2sAmritsar%2C%20Punjab!5e0!3m2!1sen!2sin!4v1614250857579!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="address">
                        <p>
                            21515 Hawthorne Blvd. Suite 730 <br>Torrance, CA 90503
                        </p>
                        <span>Office: <a href="" telto:310.995.9332>310.995.9332</a></span><br>
                        <span >Website: <a class="website" href="http://www.robinsonkardon.com">http://www.robinsonkardon.com</a></span>
                        <div class="social-icon">
                            <i class="fa fa-facebook-f" area-hidden="true"></i>
                            <i class="fa fa-twitter" area-hidden="true"></i>
                        </div>
                        <button type="button" class="btn" >Ask Edward a Question</button>

                    </div>
                    
                </div>
            </div>


        </div>
    </div>

</section>

<section class="lawyer-section-testimonial section">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-3 mb-2">
                <div class="wrapper">
                    <div class="image">
                        <img src="assets/images/lawyer-profile.png">
                    </div>
                    <div class="content">
                        <h4>John Webb</h4>
                        <span class="date">Sept 29, 2020</span>
                        <div class="rating">
                            <span ><i class="fa fa-star checked" aria-hidden="true"></i></span>
                            <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                            <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                        </div>
                        <span class="hired">HIRED ATTORNEY</span>
                    </div>
                </div>
            </div>
            <div class="col-md-9 mb-2">
                <div class="wrapper-second">
                    <h4>Skillful Lawyer</h4>
                    <p>Ed Robinson Does care about YOU. He's a great attorney to have by your side . he's will fight for you to the end and he is a very compassionate person as well He's well respected in any county And that's because he's a man…
                        <a href="#">Read more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3 mb-2">
                <div class="wrapper">
                    <div class="image">
                        <img src="assets/images/lawyer-profile.png">
                    </div>
                    <div class="content">
                        <h4>John Webb</h4>
                        <span class="date">Sept 29, 2020</span>
                        <div class="rating">
                            <span ><i class="fa fa-star checked" aria-hidden="true"></i></span>
                            <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                            <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                        </div>
                        <span class="hired">HIRED ATTORNEY</span>
                    </div>
                </div>
            </div>
            <div class="col-md-9 mb-2">
                <div class="wrapper-second">
                    <h4>Skillful Lawyer</h4>
                    <p>Ed Robinson Does care about YOU. He's a great attorney to have by your side . he's will fight for you to the end and he is a very compassionate person as well He's well respected in any county And that's because he's a man…
                        <a href="#">Read more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3 mb-2">
                <div class="wrapper">
                    <div class="image">
                        <img src="assets/images/lawyer-profile.png">
                    </div>
                    <div class="content">
                        <h4>John Webb</h4>
                        <span class="date">Sept 29, 2020</span>
                        <div class="rating">
                            <span ><i class="fa fa-star checked" aria-hidden="true"></i></span>
                            <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                            <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                            <span><i class="fa fa-star" aria-hidden="true"></i></span>
                        </div>
                        <span class="hired">HIRED ATTORNEY</span>
                    </div>
                </div>
            </div>
            <div class="col-md-9 mb-2">
                <div class="wrapper-second">
                    <h4>Skillful Lawyer</h4>
                    <p>Ed Robinson Does care about YOU. He's a great attorney to have by your side . he's will fight for you to the end and he is a very compassionate person as well He's well respected in any county And that's because he's a man…
                        <a href="#">Read more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn long-btn outline-btn" type="button">Leave a Review</button>
            </div>
        </div>

    </div>

</section>
