<section class="section step-section">
  <div class="container-fluid c-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" id="">
        <div class="row">
          <div class=" col-lg-3 col-md-3 nav-horizontal-mobile mb-3">
         <!--  <app-quickstartquide></app-quickstartquide> -->

            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          
            <div _ngcontent-gpv-c79="" class="nav nav-bar">
              <div class="side-logo">
                <h4 class="main-heading">Profile</h4>
              </div>

               <ul class="cir-tab nav nav-pills mb-3" id="pills-tab" role="">
                        <li class="nav-item">
                              <a class="nav-link dash active" id="v-pills-basic-tab" data-toggle="pill" href="#tabs-1" role="tab"
                          aria-controls="v-pills-basic" aria-selected="true">Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link  dash" id="v-pills-legal-tab" data-toggle="pill" href="#tabs-2" role="tab"
                          aria-controls="v-pills-legal" aria-selected="false">Legal Details</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link dash" id="v-pills-family-tab" data-toggle="pill" href="#tabs-3" role="tab"
                          aria-controls="v-pills-family" aria-selected="false">Family Details</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link dash" id="v-pills-income-tab" data-toggle="pill" href="#tabs-4" role="tab"
                         aria-controls="v-pills-income" aria-selected="false">Profession & Income </a>
                        </li>
                        <li class="nav-item">
                         <a class="nav-link  dash" id="v-pills-pets-tab" data-toggle="pill" href="#tabs-5" role="tab"
                          aria-controls="v-pills-pets" aria-selected="false">Pets</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link  dash" id="v-pills-interest-tab" data-toggle="pill" href="#tabs-6" role="tab"
                         aria-controls="v-pills-interest" aria-selected="false">Interests</a>
                        </li>
                         <li class="nav-item">
                              <a class="nav-link  dash" id="v-pills-other-tab" data-toggle="pill" href="#tabs-7" role="tab"
                           aria-controls="v-pills-other" aria-selected="false">Other Legal Interests</a>
                        </li>
                         <li class="nav-item">
                          <a class="nav-link dash qsglistsummary" id="v-pills-summary-tab" data-toggle="pill" href="#tabs-8" role="tab"
                            aria-controls="v-pills-other" aria-selected="false">Profile Summary</a>
                        </li>
                      
                      </ul>
            </div>
            </div>
         
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active cir-main-tab" id="v-pills-basics" role="tabpanel"
                aria-labelledby="v-pills-basics-tab">
                <div class="tabs" >
                    
                    <div class="tab-content" id="pills-tabContent">
                     <div class="tab-pane fade show active" id="tabs-1" role="tabpanel"
                aria-labelledby="v-pills-basic-tab">
                <app-qsg-profile></app-qsg-profile>
              </div>
              <div class="tab-pane fade" id="tabs-2" role="tabpanel" aria-labelledby="v-pills-legal-tab">
               <app-qsg-legal></app-qsg-legal>
              </div>
              <div class="tab-pane fade" id="tabs-3" role="tabpanel" aria-labelledby="v-pills-family-tab">
               <app-qsg-family></app-qsg-family>
              </div>
              <div class="tab-pane fade" id="tabs-4" role="tabpanel" aria-labelledby="v-pills-income-tab">
          <app-qsg-professionincome></app-qsg-professionincome>
              </div>
              <div class="tab-pane fade" id="tabs-5" role="tabpanel" aria-labelledby="v-pills-pets-tab">
                <app-qsg-pet></app-qsg-pet>
              </div>
              <div class="tab-pane fade" id="tabs-6" role="tabpanel" aria-labelledby="v-pills-interest-tab">
              <app-qsg-interests></app-qsg-interests>
              </div>
              <div class="tab-pane fade" id="tabs-7" role="tabpanel" aria-labelledby="v-pills-other-tab">
                <app-qsg-otherlegalinterests></app-qsg-otherlegalinterests>
              </div>  
              <div class="tab-pane fade" id="tabs-8" role="tabpanel" aria-labelledby="v-pills-summary-tab">
               <app-qsg-profilesummary></app-qsg-profilesummary>
              </div>           
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- col 3 add here -->
          <div class="col-lg-3 col-md-3">
            <div class="second-sidebar">
              <div class="heading-close">
                <i class="fa fa-close"></i>
              </div>
              <ejs-calendar id=calendar > </ejs-calendar >
             
              <hr style="border: 1px solid #D0CFCF; width:40%;">
              <div class="note-heading">
                <a href="tel:+1-888-291-2398"> <button class="btn btn-primary mb-2 call-btn"> Call Now </button> </a>
            
                    <button data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-primary mb-2 schedule-btn"> Schedule a Appointment </button>
              </div>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              
                <div class="carousel-inner">
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>