<section class="legal-services-section section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="wrapper">
                    <h3 class="main-heading">Family Law</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         Ut enim ad minim veniam quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <div class="sub-heading">
                        <h4>Explore our Self Help Guides for  <span><i>Family Law</i></span></h4>
                        <span class="sub-span">What is a Guide?</span>
                    </div>
                    
                </div>
                <div class="help-family-law">
                    <div class="wrapper">
                        <div class="image">
                            <span class="court">FAMILY COURT</span>
                            <img src="assets/images/lawyer-profile.png">
                        </div>
                        <div class="content">
                            <span class="popular">POPULAR</span>
                            <h5>Guide: <span>Child Support</span></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                            </p>
                            <div class="start-btn">
                                <a href="#"><button class="btn" type="button">Get Started</button></a>
                                <span>1 Guides<br>
                                    <span class="mins">20 mins</span>
                                </span>
                            </div>                 
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="image">
                            <span class="court">FAMILY COURT</span>
                            <img src="assets/images/lawyer-profile.png">
                        </div>
                        <div class="content">
                            <span class="popular">POPULAR</span>
                            <h5>Guide: <span>Child Support</span></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                            </p>
                            <div class="start-btn">
                                <a href="#"><button class="btn" type="button">Get Started</button></a>
                                <span>1 Guides<br>
                                    <span class="mins">20 mins</span>
                                </span>
                            </div>                 
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="image">
                            <span class="court">FAMILY COURT</span>
                            <img src="assets/images/lawyer-profile.png">
                        </div>
                        <div class="content">
                            <span class="popular">POPULAR</span>
                            <h5>Guide: <span>Child Support</span></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                            </p>
                            <div class="start-btn">
                                <a href="#"><button class="btn" type="button">Get Started</button></a>
                                <span>1 Guides<br>
                                    <span class="mins">20 mins</span>
                                </span>
                            </div>                 
                        </div>
                    </div>
                    <button class="btn long-btn outline-btn w-100" type="button">Show All Family Law Guides</button>
                </div>
                <div class="family-law-article">
                    <h3>Family Law Articles and Blogs</h3>
                    <div class="wrapper">
                        <div class="image">
                            <img src="assets/images/lawyer-profile.png">
                        </div>
                        <div class="content">
                            <h5>Article Title Goes Here</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <span>#Keyword &nbsp; #Keyword &nbsp; #Keyword</span>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="image">
                            <img src="assets/images/lawyer-profile.png">
                        </div>
                        <div class="content">
                            <h5>Video Title Goes Here</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <span>#Keyword &nbsp; #Keyword &nbsp; #Keyword</span>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="image">
                            <img src="assets/images/lawyer-profile.png">
                        </div>
                        <div class="content">
                            <h5>Blog Title Goes Here</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <span>#Keyword &nbsp; #Keyword &nbsp; #Keyword</span>
                        </div>
                    </div>
                </div>
                <div class="top-rated-family">
                    <h3>Top Rated Family Law Lawyers</h3>
                    <div class="wrapper">
                        <div class="image">
                            <span class="pro">PRO</span>
                            <img src="assets/images/lawyer-profile.png">
                        </div>
                        <div class="content">
                            <h5>Mark Smith</h5>
                            <div class="rating">
                                <div class="rates">
                                    <span class="review">Rating: 74 reviews</span>
                                    <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                                    <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                                    <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                </div>
                                <div class="year">
                                    <span class="review">Years of Experience:</span>
                                    <span class="bold">19 Years</span>
                                </div>
                                <div class="contact">
                                    <button type="button" class="btn">Contact</button>
                                </div>
                            </div>
                            <div class="address">
                                <div class="loc">
                                    <span class="review">Location:</span>
                                    <span class="bold">Carlsbad, CA</span>
                                </div>
                                <div class="area">
                                    <span class="review">Practice Areas:</span>
                                    <span class="bold">Family Court, Trusts, Immigration</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="wrapper">
                        <div class="image">
                            <span class="pro">PRO</span>
                            <img src="assets/images/lawyer-profile.png">
                        </div>
                        <div class="content">
                            <h5>Mark Smith</h5>
                            <div class="rating">
                                <div class="rates">
                                    <span class="review">Rating: 74 reviews</span>
                                    <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                                    <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                                    <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                </div>
                                <div class="year">
                                    <span class="review">Years of Experience:</span>
                                    <span class="bold">19 Years</span>
                                </div>
                                <div class="contact">
                                    <button type="button" class="btn">Contact</button>
                                </div>
                            </div>
                            <div class="address">
                                <div class="loc">
                                    <span class="review">Location:</span>
                                    <span class="bold">Carlsbad, CA</span>
                                </div>
                                <div class="area">
                                    <span class="review">Practice Areas:</span>
                                    <span class="bold">Family Court, Trusts, Immigration</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="wrapper">
                        <div class="image">
                            <span class="pro">PRO</span>
                            <img src="assets/images/lawyer-profile.png">
                        </div>
                        <div class="content">
                            <h5>Mark Smith</h5>
                            <div class="rating">
                                <div class="rates">
                                    <span class="review">Rating: 74 reviews</span>
                                    <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                                    <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                                    <span><i class="fa fa-star checked" aria-hidden="true"></i></span>
                                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                                </div>
                                <div class="year">
                                    <span class="review">Years of Experience:</span>
                                    <span class="bold">19 Years</span>
                                </div>
                                <div class="contact">
                                    <button type="button" class="btn">Contact</button>
                                </div>
                            </div>
                            <div class="address">
                                <div class="loc">
                                    <span class="review">Location:</span>
                                    <span class="bold">Carlsbad, CA</span>
                                </div>
                                <div class="area">
                                    <span class="review">Practice Areas:</span>
                                    <span class="bold">Family Court, Trusts, Immigration</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <button type="button" class="btn long-btn outline-btn w-100">Find a Lawyer</button>
                </div>



            </div>
            <div class="col-md-4">
                <div class="wrapper-second">
                    <div class="box">
                        <p>Consult our team of experts

                            and get advise to your legal needs
                            
                            in as little as 10mins
                        </p>
                        <button class="btn" type="button">Get Started</button>

                    </div>
                    <div class="legal-topics">
                        <h5>Browse other Legal Topics</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                        <div class="tag-div">
                            <a  href="#" class="tag"><span class="tag-number"></span><p>Legal Topic Area</p></a>
                            <a href="#" class="tag"><span class="tag-number"></span><p>Legal Topic Area</p></a>
                            <a href="#" class="tag"><span class="tag-number"></span><p>Legal Topic Area</p></a>
                            <a href="#" class="tag"><span class="tag-number"></span><p>Legal Topic Area</p></a>
                            <a href="#" class="tag"><span class="tag-number"></span><p>Legal Topic Area</p></a>
                            <a href="#" class="tag"><span class="tag-number"></span><p>Legal Topic Area</p></a>
                            <a href="#" class="tag"><span class="tag-number"></span><p>Legal Topic Area</p></a>
                            <a href="#" class="tag"><span class="tag-number"></span><p>Legal Topic Area</p></a>
                            <a href="#" class="tag"><span class="tag-number"></span><p _ngcontent-mha-c16="">Legal Topic Area</p></a>
                            <a href="#" class="tag"><span class="tag-number"></span><p _ngcontent-mha-c16="">Legal Topic Area</p></a>
                            <a href="#" class="tag"><span class="tag-number"></span><p _ngcontent-mha-c16="">Legal Topic Area</p></a>

                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>

</section>
